<%= form_with(model: book_rented_infomation, local: true) do |form| %>
  <% if book_rented_infomation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_rented_infomation.errors.count, "error") %> prohibited this book_rented_infomation from being saved:</h2>

      <ul>
        <% book_rented_infomation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rented_date %>
    <%= form.date_select :rented_date %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
